<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700:900&display=swap" rel="stylesheet">
    <title>
        <%=data.id%>
    </title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <style>
        * {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 600;
            -webkit-print-color-adjust: exact !important;
            /* Chrome, Safari 6 – 15.3, Edge */
            print-color-adjust: exact !important;
            /* margin: 0 !important; */
            /* padding: 0 !important; */
            box-sizing: border-box;
            border-spacing: 0 !important;
            /* Firefox 97+, Safari 15.4+ */
        }

        .card {
            width: 3.375in;
            height: 2.125in;
            border-radius: 0 !important;
        }

        .logo-wrapper {
            width: 20%;
        }

        .picture-wrapper {
            width: 50%;
        }

        .logo-wrapper > img, .picture-wrapper > img {
            width: 100%;
        }

        .detail-item {
            display: flex;
            /* flex-direction: column; */
        }

        .center-details {
            display: flex;
            flex-direction: column;
            gap: 0.15em;
        }

        .center-details-wrapper {
            margin-inline: 0.5rem !important;
        }

        .center-details-wrapper > h2, .header-details-wrapper > h2, .detail-item h2 {
            font-size: small;
            font-weight: 700;
            margin: 0 !important;
        }

        .detail-item h2 {
            font-size: x-small
        }

        /* .detail-item > h2:nth-child(1) {
            width: 20px;
        } */

        .detail-item > h2 {
            font-weight: 400 !important;
        }

        .center-details > div {
            display: flex;
        }

        .center-details div div:nth-child(1) {
            min-width: 5rem;
            font-weight: 400;
        }

        .center-details div div:nth-child(3) {
            font-weight: 400;
        }

        .center-details-wrapper > h3, .header-details-wrapper > h3{
            font-size: x-small;
            margin: 0 !important;
        }

        .center-details-wrapper > h4, .header-details-wrapper > h4 {
            font-size: xx-small;
            font-weight: 400;
            margin: 0 !important;
        }

        .qr-code {
            /* background-clip: content-box; */
            /* position: absolute  ; */

            float: right;
            width: 35%;
            aspect-ratio: 1;
            background-image: url("data:image/png;base64,<%=data.qr%>");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .address {
            font-size: x-small !important;
            /* display: flex; */
            flex-direction: column;
            font-weight: 400    ;
            /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
        }

        .rules-wrapper {
            font-size: small;
            flex-wrap: wrap;
        }

        .rules-wrapper li {
            font-size: xx-small !important;
            text-align: justify;
        }

        .rules-wrapper ol {
            margin-bottom: 0 !important;
            padding-left: 1rem;
        }

        .father-saluation {
            font-style: italic;
            /* font-weight: 900 !important; */
            letter-spacing: 0.12em;
            text-decoration-line: underline;
        }

        .padding-ctx {
            padding: 0.5rem 0.5rem 0 0.5rem !important;
        }

        @media print {

            body,
            html {
                width: 100%;
            }

            button,
            a {
                display: none !important;
            }
        }
    </style>
</head>

<body>
    <div class="container d-flex flex-row p-2 justify-content-evenly">
        <div>
            <!-- Front View -->
            <div class="card-container m-1 d-flex flex-column card">
                <div class="m-2 padding-ctx border h-100 d-flex flex-column align-items-center justify-content-evenly">
                    <div class="header d-flex justify-content-between">
                        <div class="logo-wrapper">
                            <img src="images/alumni-logo.png" alt="alumni-logo">
                        </div>
                        <div class="header-details-wrapper d-flex flex-column align-items-center text-primary">
                            <h2>MIT ALUMNI ASSOCIATION</h2>
                            <h3>Ram Ganga Vihar, Phase-2</h3>
                            <h3>Moradabad - 244001</h3>
                            <h3>Ph:(0591)-2452412</h3>
                            <h4>E-mail: alumnimitassociation@gmail.com</h4>
                        </div>
                        <div class="logo-wrapper">
                            <img src="images/mit-logo.png" alt="mit-logo">
                        </div>
                    </div>
                    <div class="content mt-2 d-flex h-100 d-flex">
                        <div class="picture-wrapper">
                            <img src=<%=data.img%> alt="">
                        </div>
                        <div class="d-flex flex-column w-100 h-100">
                            <div class="center-details-wrapper">
                                <div class="center-details">
                                    <div class="detail-item">
                                        <div class="d-flex justify-content-between">
                                            <h2 class="text-primary">Alumni No</h2>
                                            <h2 class="text-primary"> :&nbsp;</h2>
                                        </div>
                                      <h2><%=data.id%></h2>
                                    </div>
                                    <div class="detail-item">
                                        <div class="d-flex justify-content-between">
                                            <h2 class="text-primary">Name</h2>
                                            <h2 class="text-primary"> :&nbsp;</h2>
                                        </div>
                                      <h2><%=data.fname%> <%=data.lname%></h2>
                                    </div>
                                    <div class="detail-item">
                                        <div class="d-flex justify-content-between">
                                            <h2 class="text-primary">D.O.B.</h2>
                                            <h2 class="text-primary"> :&nbsp;</h2>
                                        </div>
                                      <h2><%=data.dob%></h2>
                                    </div>
                                    <div class="detail-item">
                                        <div class="d-flex justify-content-between">
                                            <h2 class="text-primary">Branch</h2>
                                            <h2 class="text-primary"> :&nbsp;</h2>
                                        </div>
                                        <h2><%=data.branch%></h2>
                                    </div>
                                    <div class="detail-item">
                                        <div class="d-flex justify-content-between">
                                            <h2 class="text-primary">Batch</h2>
                                            <h2 class="text-primary"> :&nbsp;</h2>
                                        </div>
                                        <h2><%=data.batch%></h2>
                                    </div>
                                    <div class="detail-item mt-3">
                                        <div class="d-flex justify-content-around w-100">
                                            <h2>President</h2>
                                            <h2>Secretary</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" onclick="window.print();" class="w-100 btn btn-primary mt-2">Print</button>
        </div>
        <div>
            <!-- Back View -->
            <div class="card-container m-1 d-flex flex-column card">
                <div class="m-2 padding-ctx border h-100">
                    <div class="address">
                        <strong class="father-saluation">S/O <%=data.fathername%></strong>
                        <%=data.address%>,
                            <%=data.city%>-<%=data.zip%>
                                    <br>
                                    <strong>CONTACT-<%=data.contact%></strong>
                    </div>
                    <span class="d-flex mt-2 qr-code">
                    </span>
                    <div class="rules-wrapper">
                        <div class="text-primary">Rules: </div>
                        <ol>
                            <li class="address">This card is valid for lifetime.</li>
                            <li class="address">Loss of this card should be immediately reported to secretary MIT ALUMNI ASSOCIATION, Moradabad.</li>
                            <li class="address">Duplicate card will be issued after verification, on payment of Rs. 100.</li>
                            <li class="address">Anyone finding this card is requested to send it to secretary MIT ALUMNI ASSOCIATION, Moradabad.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <a href="data:jpg/image;base64,<%=data.qr%>" download="<%=data.id%>.png"
                class=" w-100 btn btn-primary mt-2">Download QR</a>
        </div>
    </div>


</body>

</html>